.container{
    border: 1px solid;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}