.cooperationBlock{
    width: 100%;
    background-color: aquamarine;
    height: 100px;
}

.cooperationContainer{
    flex-direction: column;
    justify-content: normal;
}

@media screen and (max-width: 408px){
    .cooperationBlock{
        height: 120px;
    }
    .cooperationContainer{
        justify-content: center;
    }
}
