.mainBlock {
    height: 100vh;
    background-color: #ffd4f0;
}

.greeting {
    max-width: 300px;
    width: 100%;
    background-color: #f7f7f7;
}

.photo {
    max-width: 300px;
    width: 100%;
    height: 400px;
    background-color: #f7f7f7;
}