.footerBlock {
    min-height: 150px;
    background-color: #557cc4;
}

.footerContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.icons {
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}